include sites

section.zhsites
	h3 中文站点
	ul.list
		each zhSite in zhSites
			li
				a(href='#{zhSite.url}') #{zhSite.tit}
					br
					span.des
						|#{zhSite.des}

section.ensites
	h3 外文站点
	ul.list
		each enSite in enSites
			li
				a(href='#{enSite.url}') #{enSite.tit}
					br
					span.des
						|#{enSite.des}

section.webdisks
	h3 网盘资源
	ul.list
		each webDisk in webDisks
			li
				a(href='#{webDisk.url}') #{webDisk.tit}
					br
					span.des
						|#{webDisk.des}

section.forums
	h3 论坛社区
	ul.list
		each forum in forums
			li
				a(href='#{forum.url}') #{forum.tit}
					br
					span.des
						|#{forum.des}
section.tools
	h3 相关工具
	ul.list
		each tool in tools
			li
				a(href='#{tool.url}') #{tool.tit}
					br
					span.des
						|#{tool.des}